
.DS_Store
Thumbs.db
Desktop.ini
*.log


.vscode/
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
.vs/

[Bb]in/
[Oo]bj/
out/



*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

appsettings.Development.json
appsettings.Local.json
secrets.json


node_modules/
.pnp
.pnp.js


build/
dist/
out/




npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


*.tmp
*.bak
*.swp